<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485402847021-iq730edid5spl1f1sn39stmoatst3umc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485402847021-iq730edid5spl1f1sn39stmoatst3umc</string>
	<key>API_KEY</key>
	<string>AIzaSyCCgHRKBspWtuD2rfEWlyYFq8h_X4Ph4FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>485402847021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5play-apps.Tools-UserRegistration</string>
	<key>PROJECT_ID</key>
	<string>tools-userregistration</string>
	<key>STORAGE_BUCKET</key>
	<string>tools-userregistration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485402847021:ios:f349be837ad803c40055a4</string>
</dict>
</plist>